<div><%= simple_format t("spree.download_instructions", product_name: @order.products.first.name) %></div>

<% for item in @order.line_items %>
  <% if item.digital? %>
    <%= raw item.variant.name %>:
    <% for link in item.digital_links %>
      <%= link_to t("spree.download"), digital_url(:host => @order.store.url, :secret => link.secret) %>
    <% end %>
  <% end %>
<% end %>
