<!DOCTYPE html>
<html>
  <head>
    <!-- <title><%= title %></title> -->
    <title><%= title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="initial-scale=1, user-scalable=no, width=device-width" />
    <meta name="turbolinks-cache-control" content="no-cache">

    <%= javascript_include_tag "https://w.soundcloud.com/player/api.js" %>

    <%# stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= render partial: 'spree/shared/head' %>
    
    <%= dashboard.extra_html&.html_safe %>
  </head>

  <body class="
    bg-background font-body text-white
    flex flex-col justify-between" style="min-height: 100vh;">
    
    <%= yield %>
    
    <%= render "footer" %>
  </body>
</html>
