<% @album = Album.find_by_slug(params[:id]) %>

<%= render "generic_masthead", image: @album.cover,
  heading: @album.name, subheading: @album.artist.name do %>
  <% @album.songs.each do |song| %>
    <%= render "generic_item", 
      label: song.name, 
      path: song %>
  <% end %>
<% end %>