<% @artist = Artist.find_by_slug(params[:id]) %>

<%= render "generic_masthead", margin_bottom: false, container: true,
   heading: @artist.name, hide_heading: @artist.image.present? do %>
    
  <% if @artist.image.present? %>
    <%= render "section" do %>
      <div class="max-w-3xl mx-auto">    
        <div class="flex flex-wrap justify-around">
          <div class="w-full md:w-1/3 pr-8 pb-4">
            <%= image_tag @artist.image.variant(resize_to_limit: [300, 300]), class: "mx-auto shadow" %>
          </div>
        
          <div class="w-full md:w-2/3">
            <div class="text-xl text-white font-bold tracking-wide 
              leading-none mb-2">
              <%= @artist.name %>
            </div>
            <div class="text-base text-gray-70 leading-relaxed">
              <%= simple_format @artist.bio %>
            </div>
          </div>
        </div>
        <div class="mt-6 flex">
          <span class="mr-4 text-brand font-bold whitespace-no-wrap">Share on</span>
          <%= render_shareable static_link: true %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if @artist.songs.any? %>
    <%= render "section", heading: t(".popular_songs") do %>
      <% @artist.songs.popular.first(10).each do |song| %>
        <%= render "generic_item", label: song.name, path: song %>
      <% end %>
    <% end %>
  <% end %>
  
  <% if @artist.videos.any? %>
    <%= render "section", heading: t(".recent_videos") do %>
      <%= render "video_grid", videos: @artist.videos %>
    <% end %>
  <% end %>
    
  <% if @artist.albums.any? %>
    <%= render "section", heading: t(".releases") do %>
      <%= render "cover_grid", songs: @artist.albums %>
    <% end %>
  <% end %>
  
<% end %>