<%= render "generic_masthead", heading: t(".artists") do %>
  <% Artist.order(:name).each do |artist| %>
    <%= render "generic_item", 
      label: artist.name, 
      path: artist %>
  <% end %>
<% end %>