<%= render "generic_masthead" do %>

  <div class="mx-auto" style="max-width: 60ch;">
    <div class="text-lg">
      <%= t(".lead") %>
    </div>
    <div class="text-base mt-8">
      <span class="text-gray-70"><%= t(".angola") %>:</span> <%= t(".angola_contact") %><br/>
      <span class="text-gray-70"><%= t(".other_countries") %>:</span> <%= t(".other_countries_contact") %>
    </div>
  </div>
  
<% end %>