<%= render "generic_masthead", heading: t(".genres") do %>
  <% Genre.order(:name).each do |genre| %>
    <%= render "generic_item", 
      label: genre.name, 
      path: genre %>
  <% end %>
<% end %>