<% @genre = Genre.find_by_slug(params[:id]) %>

<%= render "generic_masthead", heading: @genre.name, subheading: t("models.genre") do %>
  <% @genre.artists.each do |artist| %>
    <%= render "generic_item", 
      label: artist.name,
      path: artist %>
  <% end %>
<% end %>