<%= render "home/masthead" %>

<div class="container overflow-hidden mx-auto px-8">
  <%= render "search" %>

  <%= render "home/new_music" %>
  
  <div class="flex flex-wrap">
    <div class="w-full lg:w-1/2 pr-4">
      <%= render "home/most_played" %>
    </div>
    <div class="w-full lg:w-1/2">
      <%= render "home/top_downloads" %>
    </div>
  </div>
  
  <%= banner %>
  
  <%= render "home/latest_videos" %>
  
  <%= render "home/cinema" %>
</div>