<%= render "generic_masthead", margin_bottom: false, container: true do %>
  <%= render "section", heading: t(".showing_now") do %>
    <%= render "movie_grid", movies: Movie.showing %>
  <% end %>
  
  <%= render "section", heading: t(".upcoming_movies") do %>
    <%= render "movie_grid", movies: Movie.upcoming %>
  <% end %>
<% end %>

<% content_for :title, t(".cinema") %>