<% @movie = Movie.find_by_slug(params[:id]) %>

<%= render "generic_masthead", heading: @movie.name, subheading: t("models.movie"),
  container: true, margin_bottom: false do %>
  <%= render "section" do %>
    <div class="flex flex-wrap justify-around">
      <div class="w-full sm:w-1/3 pr-8">
        <%= image_tag @movie.poster, class: "mx-auto shadow" %>
      </div>
      <div class="w-full sm:w-2/3">
        <div class="text-base mb-8 text-gray-70 leading-relaxed">
          <%= @movie.description %>
        </div>
        
        <div class="text-lg uppercase text-brand font-bold tracking-wider mb-2">
          <%= t(".showing_at") %>
        </div>
        <div class="text-sm">
          <%= @movie.showings_description %>
        </div>
      </div>
    </div>
  <% end %>
  
  <%= render "section" do %>
    <%= render "youtube_embed", src: @movie.embed_url %>
  <% end if @movie.youtube? %>
<% end %>