<% @playlist = Playlist.find_by_slug(params[:id]) %>

<%= render "generic_masthead", container: true,
  heading: @playlist.name, subheading: t("models.playlist") do %>
  <% if @playlist.soundcloud.present? %>
    <%= render "soundcloud_embed", record: @playlist %>
  <% end %>

  <% @playlist.songs.each do |song| %>
    <%= render "generic_item", 
      label: song.name, sublabel: song.artist.name,
      path: song %>
  <% end %>
<% end %>