<%= render "generic_masthead", heading: t(".playlists") do %>
  <% Playlist.order(:name).each do |playlist| %>
    <%= render "generic_item", 
      label: playlist.name, 
      path: playlist %>
  <% end %>
<% end %>