<div class="flex-1 flex flex-col">
  <div class="relative bg-gray-20">
    <div class="w-full h-full flex flex-col items-center pt-10 pb-10 px-12">
      <%= render "navbar" %>
    </div>
  </div>

  <div class="flex flex-row justify-start flex-1 h-full">
    <div class="pt-10 px-8 flex-none bg-gray-6">
    
      <div class="mb-6">
        <div class="text-xs text-gray-70 font-medium">
          Shop by Categories
        </div>
      
        <div class="mt-4">
          <% 3.times do %>
            <div class="text-base text-white mt-2">
              Merchandise
            </div>
          <% end %>
        </div>
      </div>
    </div>
  
    <div class="pt-10 px-10">
      <%= render "product_grid", products: [0] %>
    </div>
  </div>
</div>