<% heading = @song.audio_file.present? \
   ? {heading: @song.name, subheading: @song.artist.name} \
   : {} %>

<%= render "generic_masthead", **heading, container: true do %>
  <% if @song.soundcloud.present? %>
    <%= render "soundcloud_embed", record: @song %>
  <% elsif @song.audio_file.present? %>
    <%= render "custom_audio_player", song: @song %>
  <% end %>

  <div class="mt-16">
    <% if @song.lyrics.present? %>
      <%= render "section", heading: "Lyrics" do %>
        <div class="md:column-count simple-format">
          <%= simple_format @song.lyrics %>
        </div>
      <% end %>
    <% end %>
  </div>
    
  <%= render "more_from_artist", artist: @song.artist %>
<% end %>