<%= render "generic_masthead", banner: false do %>

  <div class="mx-auto flex flex-wrap justify-around">
    <div class="w-full sm:w-1/2 pr-20">
      <%= render "section", heading: t(".music") do %>
        <%= form_with model: Song.new, url: songs_path, 
          html: {class: "form"}, local: true do |f| %>
          <div>
            <%= f.label :soundcloud, "SoundCloud link" %>
            <%= f.text_field :soundcloud %>
          </div>
          <div class="mt-4">
            <%= f.label :audio_file %>
            <%= f.file_field :audio_file %>
          </div>
          <div class="mt-4">
            <%= f.label :lyrics, "Lyrics (optional)" %>
            <%= f.text_area :lyrics, rows: 4 %>
          </div>
          <div class="mt-8">
            <%= f.submit "Submit music" %>
          </div>
        <% end %>      
      <% end %>
    </div>
    
    <div class="w-full sm:w-1/2">
      <%= render "section", heading: t(".music_video") do %>
        <%= form_with scope: :video, url: videos_path,
          html: {class: "form"}, local: true do |f| %>
          <div>
            <%= f.label :youtube, "YouTube link" %>
            <%= f.text_field :youtube %>
          </div>
          <div class="mt-8">
            <%= f.submit "Submit music video" %>
          </div>
        <% end %>      
      <% end %>
    </div>
  </div>
  
<% end %>