<% @video = Video.find_by_slug(params[:id]) %>

<%= render "generic_masthead", container: true do %>
  <%= render "youtube_embed", src: @video.embed_url(autoplay: true) %>
  <%= render "more_from_artist", artist: @video.artist %>
<% end %>