<div class="card" id="payment" data-hook>
  <div class="card-header">
    <h3 class="card-title mb-0 h5">
      <%= render "sub_heading", text: Spree.t(:payment_information) %>
    </h3>
  </div>

  <div class="card-body" data-hook="checkout_payment_step">

    <ul class="list-group hidden" id="payment-method-fields" data-hook>
      <% @order.available_payment_methods.each do |method| %>
        <li class="list-group-item radio">
          <label>
            <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.available_payment_methods.first %>
            <%= Spree.t(method.name, scope: :payment_methods, default: method.name) %>
          </label>
        </li>
      <% end %>
    </ul>

    <ul id="payment-methods" class="list-unstyled position-relative" data-hook>
      <% @order.available_payment_methods.each do |method| %>
        <li id="payment_method_<%= method.id %>" class="<%= 'last' if method == @order.available_payment_methods.last %>" data-hook>
          <fieldset>
            <%= render partial: "spree/checkout/payment/#{method.method_type}", locals: { payment_method: method } %>
          </fieldset>
        </li>
      <% end %>
    </ul>

  </div>
</div>

<div class="text-left form-buttons mt-8" data-hook="buttons">
  <div class="card-body">
    <%= submit_tag Spree.t(:confirm_order) %>
  </div>
</div>
