<%= render "generic_masthead", background: false, banner: false, container: true do %>
  <div class="mb-20">
    <%= render "heading", text: Spree.t(:checkout) %>
    
    <% if @order.errors.any? || flash.any? %>
      <div class="bg-gray-6 px-6 py-4 text-base inline-block border-l-2 border-brand">
        <%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>
        <%= flash_messages %>
      </div>
    <% end %>
  </div>
  
  <div class="flex flex-wrap-reverse w-full">
    <div class="w-full lg:w-1/2 lg:mr-12">
      <%= form_for @order, url: update_checkout_path(@order.state), html: {class: "form" } do |form| %>
        <% if @order.state == 'address' || !@order.email? %>
          <%= render "sub_heading", text: t(".customer_information") %>
          <div class="form-group mb-16">
            <%= form.label :email, t(".email") %><span class="required">*</span>
            <%= form.email_field :email, required: true, class: "block" %>
          </div>
        <% end %>
      
        <div>
          <%= form.hidden_field :state_lock_version %>
          <%= render @order.state, form: form %>
        </div>
      <% end %>
    </div>
    
    <% if @order.state != 'confirm' %>
      <div class="mb-16">
        <%= render "sub_heading", text: Spree.t(:order_summary) %>
        <%= render partial: 'summary', locals: { order: @order } %>
      </div>
    <% end %>
  </div>
<% end %>