<div class="text-base leading-relaxed simple-format">
  <% if I18n.locale == :pt %>
    <%= simple_format payment_method.preferred_instuctions_in_portugese&.gsub("%{order_number}", @order.number) %>
  <% else %>
    <%= simple_format payment_method.preferred_instuctions_in_english&.gsub("%{order_number}", @order.number) %>
  <% end %>
</div>