<div class="mt-8">
  <%= form_with url: orders_path, local: true do |f| %>
    <div class="row" id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
      <% if @product.variants_and_option_values(current_currency).any? %>
        <div id="product-variants" class="col-lg-6 mt-4">
          <ul class="list-group">
            <% @product.variants_and_option_values(current_currency).each_with_index do |variant, index| %>
              <li class="list-group-item <%= "active" if index == 0 %>">
                <div class="form-check">
                  <%= radio_button_tag "variant_id", variant.id, index == 0,
                      'data-price' => variant.price_in(current_currency).money,
                      'data-in-stock' => variant.can_supply?,
                      'data-backordered' => variant.backordered?,
                      class: 'form-check-input'
                  %>
                  <%= label_tag "variant_id_#{ variant.id }", class: "form-check-label" do %>
                    <span class="variant-description">
                      <%= variant.options_text %>
                    </span>
                    <% if variant_price variant %>
                      <span class="price diff"><%= variant_price variant %></span>
                    <% end %>
                    <% unless variant.can_supply? %>
                      <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
                    <% end %>
                  <% end %>
                </div>
              </li>
            <% end%>
          </ul>
        </div>
      <% else %>
        <%= hidden_field_tag "variant_id", @product.master.id %>
      <% end %>

      <% if @product.price_in(current_currency) && !@product.price.nil? %>
        <div data-hook="product_price" class="col-lg-5 mt-4">
          <div id="product-price">
            <div>
              <div class="text-lg uppercase text-brand font-medium">
                <span class="font-bold">$</span>
                <%= display_price(@product).slice(1..nil) %>
              </div>
            </div>

            <% if @product.master.can_supply? %>
              <link itemprop="availability" href="https://schema.org/InStock" />
            <% elsif @product.variants.empty? %>
              <span class="out-of-stock d-block mt-2">
                <%= Spree.t(:out_of_stock) %>
              </span>
            <% end %>
            <% if @product.backordered? %>
              <div class="alert alert-warning" id="cart-backordered-info">
                <%= Spree.t(:backordered_info) %>
              </div>
            <% end %>
          </div>

          <% if @product.can_supply? %>
            <div class="mt-2">
              <%= f.submit Spree.t(:buy_now), class: "
                bg-brand text-background rounded px-6 py-2 inline-block
                text-lg uppercase font-bold tracking-wider
                hover:bg-gray-6 hover:text-brand" %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div id="product-price">
          <div>
            <span class="price selling" itemprop="price"
              content="<%= @product.price_in(current_currency).amount.to_d %>">
              <%= Spree.t('product_not_available_in_this_currency') %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</p>
