<% url = spree.product_path(product, taxon_id: taxon.try(:id)) %>

<%= link_to url do %>
  <div class="flex flex-col justify-center items-center group">
    
    <%= product_image(product, class: "shadow") %>
    <div class="px-3">
      <div class="w-full bg-gray-3 px-4 p-2 text-center 
        group-hover:-mb-2 transition">
        <div class="mt-4 group-hover:mt-6 transition 
          text-base text-brand font-display">
          <span class="font-bold">$</span>
          <%= display_price(product).slice(1..nil) %>
        </div>
        
        <div class="text-xs text-white text-center leading-tight">
          <%= product.name %>
        </div>  
      </div>
    </div>
    
  </div>
<% end %>