<div style="
  <% if !defined?(columns) %>
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  <% end %>
  display: grid; column-gap: 64px; row-gap: 32px;
  justify-content: space-evenly;" class="grid-view--<%= columns rescue nil %>">
  <%= render partial: "spree/products/product", collection: products, locals: { taxon: @taxon } %>
</div>