<%= render "generic_masthead", container: true, banner: false, background: false do %>
  <div>
    <%= render "section", margin_bottom: false do %>
      <div class="flex flex-col md:flex-row flex-wrap justify-around">
        <div class="w-full md:w-1/3 pr-12 pb-8">
          <%= product_image @product, class: "w-full shadow" %>
        </div>
        <div class="w-full md:w-2/3">
          <div class="text-xl text-white font-bold tracking-wide 
            leading-none mb-2">
            <%= @product.name %>
          </div>
        
          <div class="text-base font-regular text-white leading-relaxed"
            style="max-width: 60ch;">
            <%= sanitize product_description(@product) %>
          </div>
        
          <%= render "cart_form" %>
        </div>
      </div>
    <% end %>

    <% if @product.taxons.present? %>
      <div class="mt-20">
        <div class="text-base text-lg font-medium text-gray-50 mb-12"><%= Spree.t(:similar_products) %></div>
        <%= render "product_grid", columns: "four", products:
         @product.taxons.sample.products.order("RANDOM()")
           .where.not(id: @product).take(4) %>
      </div>
    <% end %>
  </div>
<% end %>