<div class="text-center">
  <div class="text-gray-70 uppercase font-medium text-base tracking-widest mb-3" style="line-height: 21px;">
    <%= t(".song_of_the_week") %>
  </div>
  <div class="text-white text-lg font-bold mb-2" style="line-height: 21px; letter-spacing: 2.1px;">
    <%= featured_video.name %>
  </div>
  <div class="text-brand text-base font-bold tracking-wide" style="line-height: 21px;">
    <%= featured_video.artist.name %>
  </div>
</div>