<div class="relative" style="height: 600px;">
  <div class="absolute w-full h-full opacity-50" style="background: url(<%= image_path(featured_video.highres_thumbnail) if featured_video %>); background-size: cover; background-position: center;">
  </div>

  <div class="absolute w-full h-full flex flex-col justify-between items-center overflow-hidden">
    <div class="w-full" style="height: 193px; background: linear-gradient(180deg, #0D111A 0%, rgba(20,26,40,0.51) 51.11%, rgba(20,26,40,0) 100%);"></div>
    <div style="width: 1088px; height: 320px; background: radial-gradient(at 50% 100%, #0D111A 0%, rgba(20,26,40,0.00) 70%);"></div>
  </div>

  <% if featured_video %>
    <div class="absolute w-full h-full flex justify-center items-center">
      <%= link_to featured_video, class: "z-10" do %>
        <%= render "play_button", class: "cursor-pointer" %>
      <% end %>
    </div>
  <% end %>

  <div class="absolute w-full h-full flex flex-col justify-between items-center pt-10 pb-20 px-12">
    <%= render "navbar" %>
    <%= render "home/featured_song" if featured_video %>
  </div>
</div>