<%= render "section", heading: t(".most_played") do %>
  <% Song.published.order(:plays => :desc).first(5).each_with_index do |song, index| %>
    <%= render "place", accent: "brand", number: index+1, 
      song: song, statistic: pluralize(song.plays, "play") %>
  <% end %>
<% end %>