<%= render "section", heading: t(".top_downloads") do %>
  <% Song.published.order(:downloads => :desc).first(5).each_with_index do |song, index| %>
    <%= render "place", accent: "alt-brand", number: index+1, 
      song: song, statistic: pluralize(song.downloads, "download") %>
  <% end %>
<% end %>