<%= render "generic_masthead", container: true, banner: false do %>
  <% if @submission.errors.any? %>
    <%= render "section", heading: "Sorry" do %>
      <div class="text-base text-gray-70">
        You've missed some required fields: 
        <span class="text-white"><%= @submission.errors.full_messages.to_sentence %></span>. 
        Please try again.
      </div>
    <% end %>  
  <% else %>
    <%= render "section", heading: "Thank you" do %>
      <div class="text-base">
        We're reviewing your submission.
      </div>
    <% end %>
  <% end %>
<% end %>