<%%= render "generic_masthead", heading: "<%= human_name %>" do %>
  <%% Playlist.all.each do |playlist| %>
    <%%= render "generic_item", 
      label: playlist.name, 
      path: playlist %>
  <%% end %>
<%% end %>