@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:900&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";

@import "grid-view";
@import "forms";
@import "simple-format";
@import "share";

@import "tailwindcss/utilities";


@responsive {
  .mb-section {
    margin-bottom: 112px;
  }

  .mt-section {
    margin-top: 112px;
  }
}

@responsive {
  .column-count {
    column-count: 2;
  }
}

.transition {
  transition: color 100ms, background-color 100ms, 
    border-color 100ms, opacity 100ms, margin 100ms;
}

.transition-slow {
  transition: color 200ms, background-color 200ms, 
    border-color 200ms, opacity 200ms, margin 200ms;
}
