.form label {
  @apply block text-white text-sm mb-2;
}

.form input[type=text], .form input[type=email], .form input[type=password], select {
  @apply px-4 py-3 rounded outline-none w-full bg-gray-11 text-base;
  max-width: 40ch;
  appearance: none;
  -webkit-appearance: none;
}

.form input[type=text]::placeholder, .form input[type=email]::placeholder, .form input[type=password]::placeholder {
  @apply text-gray-50 opacity-75;
}

.form input[type=file] {
  @apply outline-none text-sm text-gray-70 w-full;
}

.form input[type=submit] {
  @apply text-background font-medium text-lg
    px-8 py-2 inline-block font-bold
    bg-brand rounded outline-none;
}

.form textarea {
  @apply px-4 py-3 rounded outline-none w-full bg-gray-11 text-base;
  resize: none;
}

.form input[type=submit]:hover {
  @apply bg-gray-6 text-brand;
}


/* Spree forms with untouched HTML */

.form .form-group label {
  display: inline-block;
}

span.required {
  @apply text-brand ml-1;
}

.form-group {
  @apply mt-4;
}