.grid-view--four {
  grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
}

@screen md {
  .grid-view--four {
    grid-template-columns: repeat(2, minmax(128px, 1fr));
  }
}

@screen lg {
  .grid-view--four {
    grid-template-columns: repeat(4, minmax(128px, 1fr));
  }
}


.grid-view--three {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

@screen xl {
  .grid-view--three {
    grid-template-columns: repeat(3, minmax(366px, 1fr));
  }
}