<% if digital.attachment_file_name.present? %>
  <%= link_to digital.attachment_file_name, 
    main_app.url_for(digital.attachment) %>

  <% if digital.attachment_file_size.present? %>
    (<%= number_to_human_size(digital.attachment_file_size) %>)
  <% end %>
<% else %>
  <%= Spree.t(:broken_file, scope: 'digitals') %>
<% end %>
