@import "active_admin/mixins";
@import "active_admin/base";
@import "activeadmin_addons/all";


.admin_dashboards #titlebar_right {
  opacity: 0;
}


.edit #main_content, .update #main_content, 
.new #main_content, .create #main_content {
  width: 70ch;
}

.edit #main_content_wrapper, .new #main_content_wrapper {
  display: flex;
  justify-content: center;
}


input[type=text], input[type=file] {
  font-size: 14px !important;
}

.edit #titlebar_left h2, .new #titlebar_left h2 {
  font-size: 16px !important;
}


li.string {
  display: flex;
  align-items: center;
}

fieldset.inputs ol {
  padding: 0 15px;
}