<div data-hook="products_search_results_heading">
  <% if products.empty? %>
    <div data-hook="products_search_results_heading_no_results_found">
      <%= Spree.t(:no_products_found) %>
    </div>
  <% elsif params.key?(:keywords) %>
    <div data-hook="products_search_results_heading_results_found">
      <h6 class="search-results-title"><%= Spree.t(:search_results, keywords: h(params[:keywords])) %></h6>
    </div>
  <% end %>
</div>

<% if products.any? %>
  <%= render "spree/products/product_grid", products: products.order(:available_on => :desc) %>
<% end %>

<!-- <% if products.respond_to?(:total_pages) %>
  <%= paginate products, theme: 'custom' %>
<% end %> -->
