<% @taxonomies.each do |taxonomy| %>
  <% cache [I18n.locale, taxonomy, @taxon] do %>
    <% if taxonomy.root.children.any? %>
      <div class="mb-12">
        <div class="text-xs text-gray-70 font-medium
          leading-none">
          <%= Spree.t(:shop_by_taxonomy, taxonomy: taxonomy.name) %>
        </div>
        
        <div class="mt-3 flex flex-col items-start">
          <% taxonomy.root.children.each do |taxon| %>
            <%= link_to taxon.name, seo_url(taxon), 
              class: "mt-4 inline
                text-base text-white
                leading-tight
                border-b-2 border-transparent 
                #{taxon == @taxon && 'border-brand hover:border-brand'}
                hover:border-gray-50 transition" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>