<% if banner.present? %>
  <%= link_to banner.link, target: "blank" do %>
    <div class="mb-section">
      <div class="
        <% if banner.mobile_image.present? %>hidden md:block<% end %>
        w-full">
        <%= image_tag banner.image, class: "w-full" %>
      </div>

      <% if banner.mobile_image.present? %>
        <div class="md:hidden">
          <%= image_tag banner.mobile_image, class: "w-full" %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>