<%= link_to song do %>
  <div class="flex flex-col justify-center items-center">
    <%= clip_to_aspect_ratio song.cover.variant(resize_to_limit: [300, 300]),
      1/1, html_class: "shadow" %>
    <div class="mt-6 text-center">
      <div class="text-white font-bold text-small w-full truncate" style="letter-spacing: 1.2px;">
        <%= song.name %>
      </div>
      <div class="text-brand font-bold text-small truncate" style="letter-spacing: 1.2px;">
        <%= song.artist.name %>
      </div>
      <div class="font-xs text-gray-50">
        <%= t ".caption", time: distance_of_time_in_words(song.created_at, Date.today) %>
      </div>
    </div>
  </div>
<% end %>