<div class="max-w-xl mx-auto flex items-center" 
  data-controller="audio-player">
  <%= audio_tag url_for(song.audio_file), 
    controls: true, autoplay: true, controlsList: "nodownload",
    class: "w-full", data: {target: "audio-player.tag"} %>
  <%= link_to image_tag("download.svg"), url_for(song.audio_file), 
    class: "ml-4 w-8 h-8", data: {target: "audio-player.download"} %>
</div>