<div>
  <div class="relative <% if (background rescue true) %>bg-gray-11<% end %>">
    <div class="w-full h-full flex flex-col items-center pt-10 pb-10 px-12">
      <%= render "navbar" %>
    
      <% if defined?(heading) && !(defined? hide_heading) %>
        <div class="flex flex-col items-center mt-10">
          <% if defined? image %>
            <%= image_tag image.variant(resize_to_limit: [250, 250]),
            class: "mb-6 shadow", style: "max-width: 219px;" %>
          <% end %>

          <% if defined? heading %>
            <div class="font-bold text-2xl tracking-wider leading-tight text-white">
              <%= heading %>
            </div>
          <% end %>

          <% if defined? subheading %>
            <div class="font-bold text-lg tracking-wider text-gray-50">
              <%= subheading %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="flex flex-col items-center <% if (padding rescue true) %>mt-12 px-8<% end %>
    <% if (margin_bottom rescue true) %>mb-section<% end %>">
    <div class="<% if (container rescue false) %>container<% end %>">
      <%= yield %>
    </div>
  </div>

  <% if (banner rescue true) %>
    <div class="px-8">
      <%= banner %>
    </div>
  <% end %>
</div>

<%= content_for(:heading, (heading rescue nil)) %>
<%= content_for(:subheading, (subheading rescue nil)) %>