<div class="mb-10 last:mb-0 group">
  <%= link_to path do %>
    <div class="text-lg text-white font-medium
      border-gray-20 group-hover:border-gray-50 transition
      <% unless defined? sublabel %>
        <%= (underline_always rescue false) ? "border-b-3" : "sm:border-b-3" %>
      <% end %>
      inline-block"
      style="line-height: 28px">
      <%= yield.presence || label %>
    </div>
    
    <% if defined?(sublabel) %>
      <div class="text-base text-brand font-medium">
        <%= sublabel %>
      </div>
    <% end %>
  <% end %>
</div>