<div class="mt-8 w-full text-center">
  <%= render "generic_item", path: artist, underline_always: true do %>
    <%= t(".more_from_artist") %>
    <span class="text-brand font-bold"><%= artist.name %></span>
  <% end %>
</div>