<%= link_to movie do %>
  <div class="flex flex-col justify-center items-center">
    <%= clip_to_aspect_ratio movie.poster.variant(resize_to_limit: [300, 300]), 
      175/265.to_f, html_class: "shadow" %>
    <div class="mt-4 text-center">
      <div class="text-white font-bold text-small w-full truncate" style="letter-spacing: 1.2px;">
        <%= movie.name %>
      </div>
      <div class="font-xs text-gray-50">
        <%= t ".caption", date: l(movie.starts, format: :short) %>
      </div>
    </div>
  </div>
<% end %>