<div class="md:mr-8 last:mr-0 group">
  
  <div class="px-3 py-2 <%= yield.present? && "md:group-hover:bg-gray-6" %>">
    <%= tag.a text, href: (path rescue nil), class: "
      text-#{(color rescue nil) || "white"} uppercase font-medium text-base tracking-wide whitespace-no-wrap
      group-hover:text-gray-70 border-brand cursor-pointer
      #{ yield.present? && "md:group-hover:bg-gray-6" }
      #{ defined?(path) && current_path_under?(path) && "border-b-2" }
      #{ yield.blank? && "transition" }
    " %>
  </div>
  
  <div class="
    bg-gray-6 mb-2
    flex lg:hidden lg:group-hover:flex flex-col items-start 
    lg:items-center lg:absolute
    lg:pt-5 lg:pb-6
    ">
    <%= yield %>
  </div>
  
</div>