<div class="flex flex-col items-start lg:flex-row">
  <%= render "navigational_link", text: t(".music") do %>
    <%= render "sublink", text: t(".artists"), path: main_app.screen_path("artists") %>
    <%= render "sublink", text: t(".genres"), path: main_app.screen_path("genres") %>
    <%= render "sublink", text: t(".playlists"), path: main_app.screen_path("playlists") %>
  <% end %>
  <%= render "navigational_link", text: t(".videos"), path: main_app.screen_path("videos") %>
  <%= render "navigational_link", text: t(".cinema") + (dashboard.cinema_hot ? "🔥" : ""), path: main_app.screen_path("movies") %>
  <%= render "navigational_link", text: t(".shop"), path: main_app.screen_path("shop") %>
</div>

<div>
  <%= render "navigational_link", text: t(".submit"), color: "gray-70", path: main_app.screen_path("contact") %>
</div>
