<div class="w-full flex justify-between" data-controller="hidden">
  <div class="flex-shrink-0 flex items-center mr-13">
    <%= link_to "/", class: "inline-block" do %>
      <%= image_tag "logo.svg" %>
    <% end %>
  </div>
  
  <div class="lg:hidden">
    <%= image_tag "menu.svg", data: {action: "click->hidden#toggle", target: "hidden.element"} %>
    <%= image_tag "close.svg", data: {action: "click->hidden#toggle", target: "hidden.element"}, class: "hidden" %>
  </div>

  <div class="
    bg-gray-6 px-3 py-2 lg:bg-transparent lg:p-0
    lg:flex justify-between lg:w-full flex-col lg:flex-row
    hidden absolute lg:static z-20
    " data-target="hidden.element">
    <%= render "navigation" %>
  </div>
</div>