<div class="mb-4 sm:mb-0 group">
  <%= link_to song do %>

    <div class="
      bg-gray-6 text-gray-20 font-regular 
      group-hover:bg-<%= accent %> group-hover:text-gray-20
      hidden sm:flex
      items-center justify-center mr-8 float-left" 
      style="font-size: 72px; width: 89px; height: 89px; box-sizing: border-box;">
      <%= number %>
    </div>
    
    <div class="
      text-gray-50 text-lg font-bold
      sm:hidden float-left mr-2" style="line-height: 21px; padding-top: 5px;">
      <%= "#{number}." %>
    </div>
  
    <div class="flex flex-col" style="padding: 5px 0;">
      <div class="text-<%= accent %> text-lg font-bold tracking-wide sm:truncate" style="line-height: 21px; margin-bottom: 8px;">
        <%= song.name %>
      </div>
      <div class="text-white text-base font-bold tracking-wide sm:truncate" style="line-height: 21px; margin-bottom: 8px;">
        <%= song.artist.name %>
      </div>
      <div class="text-gray-50 text-sm font-medium" style="line-height: 21px;">
        <%= statistic %>
      </div>
    </div>

  <% end %>
  
  <% unless number == 5 %>
    <div style="width: 89px;" class="hidden sm:flex justify-center">
      <div class="bg-gray-6" style="width: 8px; height: 57px;"></div>
    </div>
  <% end %>
</div>