<svg class="text-brand hover:text-white transition-slow" width="85px" height="85px" viewBox="0 0 85 85" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g transform="translate(-678.000000, -288.000000)">
      <g transform="translate(679.000000, 289.000000)">
        <polygon id="Triangle" class="fill-current" transform="translate(47.000000, 42.000000) rotate(-270.000000) translate(-47.000000, -42.000000) " points="47 22.5 66.5 61.5 27.5 61.5"></polygon>
        <circle id="Oval" class="stroke-current" stroke-width="3" cx="41.5" cy="41.5" r="41"></circle>
      </g>
    </g>
  </g>
</svg>