<% unless params[:query].blank? %>
  <div class="
    bg-gray-3 px-1 py-2
    overflow-scroll" style="max-height: 60vh;">
    
    <% @noResults = true %>
    
    <% [Artist, Song, Video].each do |model| %>
      <% model.where("name ILIKE ?", "%#{params[:query]}%").each do |artist| %>
        <%= render "search_item", record: artist %>
        <% @noResults = false %>
      <% end %>
    <% end %>
    
    <% if @noResults %>
      <div class="px-4 py-2 mx-2 my-1 last:mb-0 group
        flex items-center">
        <div class="text-base text-gray-50 font-medium inline-block mr-3">
          <%= t(".content_not_found") %>
        </div>
      </div>
    <% end %>
  
  </div>
<% end %>