<div class="mt-16 lg:mt-section mb-section">
  <%= form_tag search_path, method: :get, remote: true, data: {controller: "form"} do %>
    <div class="bg-gray-6 px-6 py-5 flex shadow-inset focus-within:bg-gray-3 transition">
      <%= image_tag "search.svg", class: "mr-6" %>
      <input class="w-full outline-none placeholder-gray-20 bg-transparent text-xl text-white"
        type="text" name="query" placeholder="<%= t(".placeholder") %>"
        autocomplete="off" data-action="input->form#submit" />
    </div>
  <% end %>
  
  <div data-rjs-target="search-results"></div>
</div>