<%= link_to record do %>
  <div class="px-4 py-2 mx-2 my-1 last:mb-0 group
    flex items-center">
    
    <div class="text-base text-white font-medium
      inline-block mr-3"
      style="line-height: 28px">
      <%= record.name %>
    </div>
    
    <div class="text-sm font-regular text-gray-50 group-hover:text-brand">
      <%= t("models.#{record.class.name.downcase}") %>
    </div>
    
  </div>  
<% end %>
