<%= tag.a text, href: (path rescue nil), class: "
  text-white text-base font-normal tracking-wide inline
  border-b-2 border-transparent 
  hover:border-gray-50 transition
  mx-8 mb-2 md:mb-5 md:last:mb-0
", style: "
  line-height: 1.2;
" %>