<%= link_to video do %>
  <div class="flex flex-col justify-center items-center">
    <%= clip_to_aspect_ratio video.thumbnail, (16/7.to_f), html_class: "shadow" %>
    <div class="w-full px-6">
      <div class="w-full bg-gray-6 p-4 text-center">
        <div class="text-white font-bold text-sub-lg w-full truncate" style="letter-spacing: 1.5px;">
          <%= video.name %>
        </div>
        <div class="text-brand font-bold text-small truncate" style="letter-spacing: 1.5px;">
          <%= video.artist.name %>
        </div>
      </div>
    </div>
  </div>
<% end %>