<div class="flex-1 flex flex-col bg-gray-6">
  <div class="relative">
    <div class="w-full h-full flex flex-col items-center pt-10 pb-10 px-12">
      <%= render "navbar" %>
    </div>
  </div>

  <div class="flex flex-col md:flex-row justify-start flex-1 h-full">
    <div class="pt-12 pl-12 pr-10 flex-none">
      <% if "spree/products" == params[:controller] && @taxon %>
        <%= render partial: 'spree/shared/filters' %>
      <% else %>
        <%= render partial: 'spree/shared/taxonomies' %>
      <% end %>
    </div>
  
    <div class="py-12 pl-8 pr-16 flex-1">
      <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
    </div>
  </div>
</div>